<!-- Django is based on DRY principle (Don't repeat yourself.) -->
<!-- Exxtends our base html templates. Includes that code here -->
{% extends 'app/base.html' %}
<!-- Load all static files -->
{% load static %}

<!-- Customize title for current html page using dtl -->
{%block title %} Stock Tracker App {% endblock %}

<!-- Customize CSS for current html page using dtl -->
{% block style %}
<style>
    .red {
      color: red;
    }
  
    .green {
      color: green;
    }
  
    .table-container {
      overflow-x: scroll;
    }
  </style>
{% endblock style %}

<!-- Customize html body for current html page using dtl -->
{% block body %}
<div class="container">
    <h1>Live Stock Tracker</h1>
    <div class="mt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-between align-items-center breaking-news ">
            <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1 news">
              <span class="d-flex align-items-center">Selected Stocks</span></div>
  
            <marquee class="news-scroll" behavior="scroll" direction="left">
              <h4 class="name-scroll">{{selectedstock}}</h4>
  
  
            </marquee>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SNo.</th>
            <th scope="col">Symbol</th>
            <th scope="col">Company Name</th>
            <th scope="col">Industry</th>
            <th scope="col">Last Price</th>
            <th scope="col">Previous Close</th>
            <th scope="col">Percent Change</th>
            <th scope="col">Lower Circuit</th>
            <th scope="col">Upper Circuit</th>
          </tr>
        </thead>
        <tbody>
          {% for stock_object in data %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ data.symbol }} </td>
            <td>{{data.companyName}}</td>
            <td>{{ data.industry }}</td>
            <td id="{{ data.symbol }}_price">{{ data.lastPrice|floatformat:4 }}</td>
            <td id="{{ data.symbol }}_prevprice">{{ data.prevClose|floatformat:4 }}</td>
            <td id="{{ data.symbol }}_percent_change">{{ data.percentChange }}</td>
            <td id="{{ data.symbol }}_lowerCircuit"> {{ data.lowerCircuit }}
              <td id="{{ data.symbol }}_upperCircuit"> {{ data.upperCircuit }}
              <!-- <script>
                var change = document.getElementById("{{key}}_price").innerHTML - document.getElementById(
                  "{{key}}_prevprice").innerHTML;
                change = Number((change).toFixed(4));
                if (change > 0) {
                  document.getElementById("{{key}}_change").className = "green";
                  document.getElementById("{{key}}_change").innerHTML = "+" + change;
                } else if (change < 1) {
                  document.getElementById("{{key}}_change").className = "red";
                  document.getElementById("{{key}}_change").innerHTML = change;
                } else {
                  document.getElementById("{{key}}_change").innerHTML = change;
                }
              </script> -->
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br>
    <div style="display:flex">
    <div class="gap-2 me-2">
      <a class="btn btn-primary" href="/" role="button">Home</a>
    </div>
    <div class="gap-2">
      <a class="btn btn-danger" href="/" role="button">Reset</a>
    </div>
  </div>
  </div>
  </div>
  {{ room_name|json_script:"room-name" }}
   
{% endblock %}

<!-- Customize Javascript for current html page using dtl -->
{% block js %}
<script></script>
{% endblock js %}
