<!-- Django is based on DRY principle (Don't repeat yourself.) -->
<!-- Exxtends our base html templates. Includes that code here -->
{% extends 'app/base.html' %}
<!-- Load all static files -->
{% load static %}

<!-- Customize title for current html page using dtl -->
{%block title %} Stock Picker App {% endblock %}

<!-- Customize CSS for current html page using dtl -->
{% block style %}
<style></style>
{% endblock style %}

<!-- Customize html body for current html page using dtl -->
{% block body %}
<div class="container">
  <h1>Live Stock Tracker</h1>
  <!-- <h1>
    All the NSE Stocks has been listed. You can find and choose multiple stocks
    to watch them out.
  </h1> -->
  <p>Select your favourite stocks.</p>
  <form action="/stock-track">
    <label for="stockpicker">Select Stocks:</label>
    <select
      class="form-select form-select-lg mb-3"
      multiple
      aria-label="multiple select example"
      name="stockpicker"
    >
      {% for i in stock_names %}
      <option value="{{i}}">{{i}}</option>
      {% endfor %}
    </select>
    <br />
    <div class="d-grid gap-2">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
  </form>
</div>

{% endblock %}

<!-- Customize Javascript for current html page using dtl -->
{% block js %}
<script></script>
{% endblock js %}
